
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<html>
<head>
    <meta charset="utf-8">
    <title> Нумерованный список</title>
    <style>
        p {
            /*margin-right: 25%; /* Отступ справа */
            margin-left: 5px; /* Отступ слева */
            color: blue;
            text-indent: 1.5em; /* Отступ первой строки */
            text-align: justify; /* Выравнивание по ширине */
        }

        li {
            margin-top: 7px;
            margin-left: 18px;
            color: black;
            font-size: 11pt;
        }

        body {
            margin-top: 60px;
            background-color: black;
        }

        h2 {
            margin-top: 40px;
            font-size: 20px;
            color: black;
            background-color: #b3fff2;
        }

        h3 {
            color: orangered;
            margin-left: 50px;
        }

        h1 {
            margin-left: 5px;
            margin-top: 9px;
            color: black;
            font-size: 12pt;
        }

        ul {
            padding-left: 18px;
            margin-top: 1em;
            margin-bottom: 1em;
            list-style-type: disc;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        /*div {
            background-color: #b3fff2;
        }*/
        header {
            background-color: #b3fff2;
        }

        head {
            background-color: red;
        }
    </style>
</head>


<body style="color:Yellow; background-color:#b3fff2">
    <div>
        <h2 align="center">Help</h2>
        <br>
        <h3>Mini menu</h3>
        <ul>
            <li><a href="#1">Инструкция по покупке</a></li>
            <li><a href="#2">Возможности сайта для пользователя</a></li>
            <li id="1"><a href="#3">Дополнительные функции</a></li>
            <li><a href="#4">Краткая история компании</a></li>
            <li><a href="#5">Интересные факты</a></li>

        </ul>
        <hr size="6" color="Red">

        <h1>Инструкция по покупке:</h1>
        <ol type="1">
            <li> Для входа в личный кабинет необходимо нажать кнопку «LOGIN», расположенную в верхнем левом углу страницы; </li>
            <li> Для регистрации необходимо нажать кнопку «SIGN UP», расположенную в верхнем левом углу страницы; </li>
            <li> Для возвращения на главную страницу сайта необходимо нажать на логотип IKEA, расположенный в самом верху страницы; </li>
            <li id="2"> Для осуществления выхода из личного кабинета необходимо нажать кнопку «LOGOUT», расположенную в верхнем левом углу страницы; </li>
            <li> Для добавления товара в корзину необходимо быть зарегистрированным пользователем. </li>
        </ol>

        <hr size="6" color="Orange">

        <h1>  Возможности сайта для пользователя:</h1>
        <ul>

            <li> поиск необходимых товаров;
            <li> получение информации о выбранном товаре;
            <li> вход в личный кабинет;
            <li> регистрация;
            <li id="3"> добавление товаров в корзину;
            <li> удаление товаров из корзины;
            <li> оформление заказа.
        </ul>

        <hr size="6" color="Yellow">

        <h1>Дополнительные функции </h1>
        <ul list-style-type: square; list-style-position: outside;>
            <li>Добавить нужный товар можно нажав кнопку «Add To Cart».</li>
            <li> Для просмотра содержимого корзины нажать кнопку «Cart Items». В корзине существует функция удаления, для осуществления которой необходимо нажать кнопку «Delete From Cart»; </li>
            <li id="4"> Для оформления заказа необходимо нажать кнопку «Proceed To Checkout» в разделе корзины. Далее появляется страница Оформления заказа, где необходимо ввести данные, после чего следует нажать кнопку «Proceed to pay»; </li>
            <li> Для получения информации о товаре следует нажать на товар, после чего появится страница с нужным товаром и необходимой информацией. </li>
        </ul>

        <hr size="6" color="Green">
        <h1> Краткая история компании: </h1>
        <p>  Шведская компания розничной продажи мебели IKEA является одной из самых популярных фирм в мире. Сегодня компания продает товаров на общую сумму более 28 миллиардов долларов, а началось все с небольшого магазина, который открыл молодой парень Ингвар Кампрад, как только окончил школу. </p>

        <p> Его отец, который уже увидел успехи сына в бизнесе, выделил крупную сумму на это. Тогда же появилась и торговая марка IKEA, хотя продавались там разнообразные товары, а не мебель. </p>
        <p id="5"> С момента открытия первого магазина в 1943 году прошло более 5 лет, а фирма IKEA уже стала брендом и торговой маркой. Успехи Ингвара не устроили местных конкурентов производства мебели. Низкая стоимость товаров в магазине IKEA начала привлекать клиентов, что негативно отразилось на доходах конкурентов. В 1955 году от сотрудничества с компанией IKEA отказали крупные предприятия, которые поставляли древесину и фурнитуру для мебели. Предпринимателю пришлось искать других поставщиков. </p>
        <p> У Ингвара Кампрада появилась “идея на миллион” – не привозить материалы на фабрику, а заказывать у производителя готовые формы под разную мебель и доставлять их покупателю, после чего сам клиент мог собрать мебель у себя дома. Продажа готовых комплектующих и подробных инструкций по сборке стала именно тем, что отличало IKEA от других компаний и сделало фирму одной из лучших по розничной продаже мебели в мире. После 1970 годов они начали появляться практически во всех крупных странах. </p>

        <hr size="6" color="Blue">

        <h1> Интересные факты </h1>
        <ul type="circle">
            <li> Фирма несколько раз признавалась одной из лучших мест для работы, потому что принимает на работу людей со сложным жизненным положением, а также имеет хорошие условия. </li>
            <li> Состояние владельца IKEA Ингвара Кампрада насчитывает более 30 миллиардов. </li>
            <li> Сам Ингвар, несмотря на свое состояние, продолжает одеваться на распродажах, покупает дешевые товары и не оставляет чаевых. </li>
            <li> Из-за своего масштаба магазины IKEA спроектированы так, чтобы покупатель гарантированно увидел все товары. Там не такая планировка, как в обычном магазине, а сделан своеобразный лабиринт, который сами сотрудники называют “Естественный путь”. </li>
            <li> Почти все товары, даже отдельные модели, имеют свое название, а не цифровой артикул, как в других магазинах. Это связано с тем, что у Инвара дислексия и он не может запоминать цифры. </li>
            <li> В отличие от большинства мебельных магазинов, в IKEA можно тестировать товары – клиент может полежать на диване или кровати, и даже поспать на них. </li>
            <li> Самим сотрудникам дают огромное количество льгот, а под Рождество им дарят оригинальные подарки. Чаще всего это случайные авиабилеты в любую точку мира.</li>
        </ul>



        <hr size="6" color="Violet">

    </div>
</body>
</html>

